torch>=1.7
addict
future
lmdb
numpy>=1.17
opencv-python
Pillow
pyyaml
requests
scikit-image
scipy
tensorboard
tqdm
yapf
torchprofile
pytorch-fid
lpips
matplotlib
jupyter
wandb
timm
einops
dists-pytorch
